<div class="pon-band it-row py-4 border-white border-top">
    <div class="col-lg-3 col-sm-6 pb-4">
        <img class="mx-md-4" alt="{{ 'WAIMatomoTheme_EU'|translate }}" src="{{ pluginPath }}/svg/eu-logo.svg">
    </div>
    <div class="col-lg-3 col-sm-6 pb-4">
        <img class="mx-md-4" alt="{{ 'WAIMatomoTheme_AgenziaCoesione'|translate }}" src="{{ pluginPath }}/svg/agenzia-coesione-logo.svg">
    </div>
    <div class="col-lg-3 col-sm-6 pb-4">
        <img class="mx-md-4" alt="{{ 'WAIMatomoTheme_DFP'|translate }}" src="{{ pluginPath }}/svg/dfp-logo.svg">
    </div>
    <div class="col-lg-3 col-sm-6 pb-4">
        <img class="mx-md-4" alt="{{ 'WAIMatomoTheme_PON'|translate }}" src="{{ pluginPath }}/svg/pon-logo.svg">
    </div>
</div>
