<!-- Footer -->
{% if currentModule is not same as('Widgetize') or currentAction is not same as('iframe') %}
<footer class="it-footer">
    <div class="it-footer-main">
        <div class="it-container">
            <section>
                <div class="it-row clearfix align-items-center justify-content-center">
                    <div class="col-12 col-md-6">
                        <div class="it-brand-wrapper">
                            <a class="d-inline-flex" href="{{  owner['url'] }}">
                                <img alt="{{ "WAIMatomoTheme_#{owner['name']}"|translate }} - logo" src="{{ pluginPath }}/svg/footer_logo.svg">
                            </a>
                        </div>
                    </div>
                    <div class="pb-5 py-md-0 ml-md-auto">
                        <div class="d-flex">
                            <span class="mr-2">{{ 'WAIMatomoTheme_FollowUs'|translate }}</span>
                            <ul class="list-inline text-left m-0">
                                {% for social in socials %}
                                <li class="list-inline-item ml-1">
                                    <a class="text-white" href="{{ social['url'] }}" aria-label="{{ social['name'] }}">
                                        <svg class="icon icon-sm icon-white align-top">
                                            <use xlink:href="{{ pluginPath }}/svg/sprite.svg#it-{{ social['name'] }}"></use>
                                        </svg>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="it-footer-primary-menu it-row justify-content-between mb-4">
                    {% for link in links['primary'] %}
                    <div class="p-2">
                        <h4>
                            <a href="{{ link['url']|format(waiUrl) }}" class="{{ link['class']|default('') }}">{{ "WAIMatomoTheme_#{link['name']}"|translate }}</a>
                        </h4>
                    </div>
                    {% endfor %}
                </div>
                {{ include('_footerBand.twig', { 'pluginPath': pluginPath }) }}
            </section>
        </div>
    </div>
    <div class="it-footer-small-prints clearfix">
        <div class="it-container d-flex align-items-end align-items-md-center">
            <h3 class="sr-only">{{ 'WAIMatomoTheme_SecondaryNavigation'|translate }}</h3>
            <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row pl-0">
                {% for link in links['secondary'] %}
                <li class="list-inline-item px-0">
                    <a class="nav-link" href="{{ link['url']|format(waiUrl) }}">
                        <span class="font-weight-semibold analogue-2-color">{{ "WAIMatomoTheme_#{link['name']}"|translate }}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</footer>
{% endif %}
<!-- End Footer -->
